<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dynamic form</title>
</head>
<body th:fragment="content">

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" th:style="${'background-image: url(' + #webapp.path('@static:/demo/img/about-bg.jpg') + ')'}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1><span th:text="${dto.definition.name}">Dynamic form</span></h1>
                    <hr class="small">
                    <span class="subheading">my subheading</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <across:view element="${dynamicForm}"/>
        </div>
    </div>
</div>

</body>
</html>